.whiteText{
    color:white
}
.blackText{
    color:black
}
.whiteOnBlack{
    color:white;
    background-color: black;
}
.blackOnWhite{
    color:black;
    background-color: white;
}
.greyHover{
    background-color:#E0E0E0;
}
.greyHover:hover{
    background-color:#c7c7c7;;
}