.flex{
    display:flex;

}
.flexCenter{
    display:flex;
    align-items: center;
    justify-content: center;
}
.flexCenterAlignStart{
    display:flex;
    justify-content: center;
    align-items: start;
}
.flexStartAlignCenter{
    display:flex;
    justify-content: start;
    align-items: center;
}
.flexAlignCenter{
    display: flex;
    align-items: center;
}

.flexSpaceEvenly{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.flexSpaceAround{
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.flexSpaceBetween{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.flexLeft{
    display:flex;
    justify-content: start;
    align-items: center;
}
.flexRight{
    display:flex;
    justify-content: end;
    align-items: center;
}
.flexColumn{
    display: flex;
    flex-direction:column;
}
.flexRow{
    display: flex;
    flex-direction:row;
}
.grid{
    display: grid;
}
.gridCentered{
    display: grid;
    place-items: center;
}
.grid2Column{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.grid3Column{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.grid4Column{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.grid5Column{
    display: grid;
    grid-template-columns: repeat(5,1fr);

}